/* Estilo do Projeto */

 

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 

body{

 

    font-family: 'Roboto', sans-serif;

    font-weight: 100;

    background: linear-gradient(to bottom, #bd0707, #f50303);

    margin: 0;

    padding: 0;

    min-height:  100vh; /* O tamanho minimo é 100 view*/

    display: flex; /* Torna a UI flexivel para a responsividade*/

    flex-direction: column;

    justify-content: center;

    align-items: center;

 

}

 

h1{

 

    color: #fff;

 

}

 

label{

 

    display: block;

    margin-bottom: 8px;

    margin-top: 4px;

 

}

 

fieldset{

 

    width: 40%;

    background-color: rgba(255,255,255,0.5);

    margin-bottom: 16px;

 

}

 

legend{

 

    font-size:  smaller;

    padding: 4px;

 

}

 

form{

 

    margin-top: 8px;

    background-color: rgba(255,255,255,0.9);

    padding: 16px;

    border-radius: 16xp;

    box-shadow: 0 4px 8px rgba(0,0,0,0.8);

 

}

 

input{

 

    padding: 4px;

    border-radius: 8px;

    border: 1px solid #ccc;

 

}

 

#login{

 

    background: #0e3b58;

   

}

 

#login:haver{

    background: #0e3b58;

    color: #0e3b58;

}

 

#limpar{

 

    background: #3498db;

 

}

 

#limpar:haver {

 

    background: white;

    color: #3498db;

 

}

 

.botao{

    background: #0747bd;

    padding: 8px 32px;

    border-radius: 16px;

    color: rgba(255,255,255,0.8);

    box-shadow: 0 12px 16px rgba(0,0,0,0.8);

}

 

.botao:haver{

    background: #0e3b58;

    color: #4c03f5;

    cursor: pointer;

}